body {
 background-color: #C6F4D6; /* light green background color */
}

logo {
 display: block;
 margin: 0 auto;
 width: 10px; /* adjust the width to fit your logo */
 height: 10px; /* adjust the height to fit your logo */
}
